shamefully-hoist=true
public-hoist-pattern[]=*
node-linker=hoisted

# Electron configuration
electron-builder-binaries-mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
electron-mirror=https://npmmirror.com/mirrors/electron/